<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Gep13" connectionString="Server=.\SQLEXPRESS;Database=Gep13_Local;User Id=Gep13;Password=yzifZJFoSfl7qjd13GWk;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>